<h1>Enter an amount of money to make change for!</h1>
<form action = '/change'>
  <div class = "form-group">
    <label for="money-amount">Enter amount of money:</label>
    <input id="money-amount" name ="money-amount" class = "form-control" type = "text">
  </div>

  <button type="submit" class="btn">Show me the money!</button>
</form>
